@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  
  --navbar: #001f54;
  --navlinks-holder: #ff7f00;

  --stepper-curr: #4a2c2a;
  --stepper-curr1: #5a413f;
  --stepper: #d6c6b9;
  --stepper1: #d6cfc8;

  --shadow: #2c2c2c55;

  --color-two: #2c2c2c;
}

body {
  background: var(--background);
  font-family:  var(--font-poppins-sans), Arial, Helvetica, sans-serif;
}
